.content {
  color: #252525;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  line-height: 16px;
  text-align: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.footer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 35px;
  width: 100%;
  background-color: #ffd7ec;
  box-shadow: -2px -2px #f5ddea, -2px 0 #f5ddea, 0 -2px #f5ddea,
    -4px -4px #fffdfe, -4px 0 #fffdfe, 0 -4px #fffdfe, 2px 2px #818181,
    0 2px #818181, 2px 0 #818181, 2px -2px #f5ddea, -2px 2px #818181,
    -4px 2px #fffdfe, -4px 4px #000, 4px 4px #000, 4px 0 #000, 0 4px #000,
    2px -4px #fffdfe, 4px -4px #000;
}

.button {
  // width: 200px;
  font-size: 13px;
  height: 80%;
  padding: 0 10px;
  margin-left: 15px;
  box-shadow: -2px -2px #f5ddea, -2px 0 #f5ddea, 0 -2px #f5ddea,
    -4px -4px #fffdfe, -4px 0 #fffdfe, 0 -4px #fffdfe, 2px 2px #818181,
    0 2px #818181, 2px 0 #818181, 2px -2px #f5ddea, -2px 2px #818181,
    -4px 2px #fffdfe, -4px 4px #000, 4px 4px #000, 4px 0 #000, 0 4px #000,
    2px -4px #fffdfe, 4px -4px #000;
}

.mainPic {
  width: 70%;
  margin: 20px 0;
}

aside {
  width: 40%;
  padding: 40px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.interests {
  border: 1px dashed #ffbbe0;
  padding: 20px 0;

  img {
    max-width: 60px;
  }

  @media screen and (max-width: 768px) {
    flex: 1;
  }
}

.interestsTitle {
  background-color: #fff8fc;
  font-size: 12px;
  font-weight: normal;
}

.info {
  font-style: italic;
}

.myStuff {
  padding-right: 1.875rem;
  width: 60%;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: 768px) {
    width: 90%;
    margin: 0 auto 1.25rem;
    padding: 0;
    display: flex;
  }
}

.link {
  color: #fff;
  text-decoration: dotted;
  background-color: #e07bdb;
}

.link:hover {
  color: #000;
  background-color: #fff;
}