.aboutMeWrapper {
  position: absolute;
  width: 40vw;
  background-color: rgb(255, 237, 248);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
  overflow: hidden;

  &:global(.maximized) {
    width: 100vw;
    height: 100vh;
  }
}

.aboutMe {
  background-color: rgb(255, 210, 225);
  background-image: url('https://64.media.tumblr.com/af51af8221270445a80eaac51ba4d872/c9da6f69ae99d49c-70/s400x600/928d4fb737dd33ab6df6cde1a116eed48714ed1f.pnj');
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.player {
  position: fixed;
  right: 1.25rem;
  top: 1.25rem;
  z-index: 0;

  .playerTitle {
    font-family: 'comic sans';
    font-size: 30px;
  }
}

.aboutMeButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Comic sans';
  text-align: center;
  width: 60px;

  span {
    background-color: rgb(26, 147, 163);
    color: #fff;
    margin-top: 10px;
  }

  img {
    width: 60px;
  }
}